.containerImage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-around
}

.choseFile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 100px;
}
.item {
    border-style: dashed;
    flex: 0 0 auto;
    margin: 40px;
}

.readyImages{

    width: 500px;
    height: 500px;
    clear: both;
}

.textAddition{
    font-size: xx-large;
    clear: both;
}

.textProgress {

}

.infoForDownload {

}